.comment-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px 16px;
  border: 1px solid #dcdcdc;
}

.comment-text {
  font-size: 14px;
  margin: 14px 0 6;
  color: #404040;
}

.like-icon {
  margin-right: 6px;
  color: #b92020;
}

.like-text {
  font-size: 14px;
  color: #404040;
}
