.search-field {
  border: none;
  height: 38px;
  background: none;
  color: #404040;
  margin-left: 12px;
}

.search-field:focus {
  outline: 0 !important;
}

.search-field-wrapper {
  display: flex;
  align-items: center;
  color: #818181;
  padding: 0 10px;
  background: #f4f4f4;
  border-radius: 12px;
}
