.signup-indicator {
  margin-bottom: 52px;
}

.signup-progress-bar {
  height: 15px;
  width: 100%;
  background: #dfdfdf;
  margin-bottom: 21px;
}

.current-progress {
  height: 15px;
  background: #f86060;
}

.current-progress.__step-1 {
  width: 34%;
}

.current-progress.__step-2 {
  width: 67%;
}

.current-progress.__step-3 {
  width: 100%;
}

.text-step-indicator {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #898989;
}
