@font-face {
  font-family: Avenir;
  src: url("fonts/AvenirLTStd.otf");
}

@font-face {
  font-family: Avenir;
  src: url("fonts/AvenirLTStd-bold.otf");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Avenir;
}

.__icon-mr {
  margin-right: 15px;
}

.__consider-sidebar {
  margin-left: 315px;
}
