.comment-container {
  border-radius: 12px;
  padding: 20px 16px;
  border: 1px solid #DCDCDC;
  width: 100%;
}

.comment-text {
  font-size: 14px;
  margin: 14px 0 6;
  color: #404040;
}

.like-icon {
  margin-right: 6px;
  color: #B92020;
}

.like-text {
  font-size: 14px;
}